<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 注意：文件名必须跟Mapper类名字一致，因为是根据文件名做关联。 -->
<mapper namespace="com.myapp.demo.dao.TUserMapper">

	<!-- baseColumns为内置列名，默认带别名t，如：t.id, t.name
	 	因此表需要加别名t
	 -->
	<select id="selectById" resultType="com.myapp.demo.model.UserInfoDO">
		select
		<include refid="baseColumns" />
		from t_user t
		where t.id = #{value}
	</select>

	<!-- 演示联表查询并分页 -->
	<select id="listUserInfo"
			parameterType="com.gitee.fastmybatis.core.query.Query"
			resultType="com.myapp.demo.model.UserInfoDO">
		SELECT
			t.id,
			t.username,
			t.state,
			t2.city,
			t2.address
		FROM t_user t LEFT JOIN user_info t2 ON t.id = t2.user_id
		<include refid="common.where" />
		<include refid="common.orderBy" />
		<include refid="common.limit" />
	</select>

	<!-- 查询总数 -->
	<select id="getUserInfoCount"
			parameterType="com.gitee.fastmybatis.core.query.Query"
			resultType="Long">
		SELECT
			count(*)
		FROM t_user t LEFT JOIN user_info t2 ON t.id = t2.user_id
		<include refid="common.where" />
	</select>

	<select id="selectByName" parameterType="String" resultMap="baseResultMap">
		select * from t_user t where t.username = #{username} limit 1
	</select>
	
	<select id="findByMap" parameterType="java.util.Map" resultMap="baseResultMap">
	   select * from t_user t where
	   <choose>
	       <when test="map.keys.size > 0">
		       <foreach collection="map.keys" item="key"
	                separator="AND">  
	                ${key} = #{map[${key}]}
	            </foreach> 
	       </when>
	       <otherwise>
	           1=2
	       </otherwise>
	   </choose>
	</select>
	
	<select id="getByMap" parameterType="java.util.Map" resultMap="baseResultMap">
       select * from t_user t where
       <choose>
           <when test="map.keys.size > 0">
               <foreach collection="map.keys" item="key"
                    separator="AND">  
                    ${key} = #{map[${key}]}
                </foreach> 
                LIMIT 1
           </when>
           <otherwise>
               1=2
           </otherwise>
       </choose>
    </select>

	<select id="findJoin"
			parameterType="com.gitee.fastmybatis.core.query.Query"
			resultType="com.myapp.demo.model.UserInfoDO">
		SELECT t.id, t.username, t.state, t2.city, t2.address
		FROM t_user t LEFT JOIN user_info t2 ON t.id = t2.user_id
		<include refid="common.where" />
		<include refid="common.orderBy" />
	</select>



</mapper>
