<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" default-autowire="byName"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:h="http://www.hasor.net/schema/spring-hasor"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.hasor.net/schema/spring-hasor http://www.hasor.net/schema/spring-hasor/spring-hasor-4.1.2.xsd">

    <!-- 创建 Hasor 容器 -->
    <h:hasor useProperties="true">
        <h:mainConfig>classpath:net_hasor_spring/example-hconfig.xml</h:mainConfig>
        <h:property name="msg_1" value="msg_1"/>
        <h:property name="msg_2" value="msg_2"/>
        <h:loadModule scanPackages="net.net.hasor.test.spring.mod2.*"/>
    </h:hasor>

    <!-- 该 Bean 是通过 AppContext.getInstance('helloWord') 获取。 -->
    <h:bean id="hasorBean1" refID="helloWord"/>

    <!-- 该 Bean 是通过 AppContext.getInstance(HasorBean.class) 获取。 -->
    <h:bean id="hasorBean2" refType="net.net.hasor.test.spring.HasorBean"/>

    <!-- 常规的 Spring Bean -->
    <bean id="springBean" class="net.hasor.test.spring.SpringBean">
        <property name="hasorBean" ref="hasorBean2"/>
    </bean>

</beans>
