<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" default-autowire="byName"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:h="http://www.hasor.net/schema/spring-hasor"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
        http://www.hasor.net/schema/spring-hasor http://www.hasor.net/schema/spring-hasor/spring-hasor-4.1.2.xsd">

    <!-- placeholder 用来做  ${env1} 字符替换 -->
    <context:property-placeholder location="classpath:net_hasor_spring/env-1.properties"/>

    <!-- 加载属性文件，后面传递给 Hasor -->
    <util:properties id="customProperties" location="classpath:net_hasor_spring/env-2.properties"/>

    <!-- 创建 Hasor 容器 -->
    <h:hasor refProperties="customProperties">
        <h:property name="msg_a">${env1}</h:property>
        <h:property name="msg_b" value="ccc"/>
    </h:hasor>
</beans>
