html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
}

.language-menu {
    position: absolute !important;
    right: 50px;
}
