<?xml version="1.0" encoding="utf-8" ?>
<mapper namespace="webapp.dso" :db="db">
    <sql id="appx_get" :return="int" :note="随便取条数据的ID">
        select app_id from appx limit 1
    </sql>

    <sql id="appx_get2"
         :return="webapp.model.AppxModel"
         :note="根据id取条数据"
         :caching="test"
         :usingCache="300"
         :cacheTag="app_${app_id}">
        select * from appx where app_id = @{app_id:int} limit 1
    </sql>

    <sql id="appx_get3" :return="Map" :note="取一批ID" :cacheClear="test">
        select * from ${tb:String} where app_id = @{app_id:int} limit 1
    </sql>

    <sql id="appx_getlist" :return="List[webapp.model.AppxModel]">
        select * from appx where app_id>@{app_id:int} order by app_id asc limit 4
    </sql>

    <sql id="appx_getids" :return="List[Integer]">
        select app_id from appx limit 4
    </sql>
</mapper>