<html>
<body>
<ul>
    <li><a href="/demo1/json" target="_blank">demo1:使用数据库查询，并返回json</a></li>
    <li><a href="/demo2/json" target="_blank">demo2:使用带连接池的数据库查询，并返回json</a></li>
    <li><a href="/demo3/html" target="_blank">demo3:使用带连接池的数据库查询，并返回html</a></li>
    <li><a href="/demo4/html" target="_blank">demo4:使用Xmlsql Mapper查询，并返回html</a></li>
    <li><a href="/demo5/json" target="_blank">demo5:使用sql 注解查询，并返回int</a></li>
    <li><a href="/demo6_1/json" target="_blank">demo6:使用sql querey查询，并返回model</a></li>
    <li><a href="/demo7/json" target="_blank">demo7:使用sql 注解表替换查询，并返回map</a></li>
    <li><a href="/demo8/json" target="_blank">demo8:使用sql 注解表替换查询，并返回list</a></li>
</ul>
</body>
</html>